/* Reset/ normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.bg-mobile_img {
  background-image: url('./assets/images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
